@import "../../../assets/scss/variables";
@import "../../../assets/scss/mixins";

.Recipe {
  margin: $space-2 $space-4;
  text-align: center;
  text-decoration: none;
  color: inherit;

  img {
    @include picture;

    object-fit: cover;
    cursor: pointer;
  }

  h2 {
    cursor: pointer;
  }
}
