@import "../../assets/scss/mixins";

.RecipesList {
  @include flex-row;

  flex-wrap: wrap;
  justify-content: center;
  padding: $space-2;
}

.noRecipes {
  @include flex-column;

  button {
    margin: $space-0;
  }
}
