@import "../../../assets/scss/mixins";
@import "../../../assets/scss/variables";

.StaticPicture {
  @include flex-column;
  @include picture-home-page;
  justify-content: center;
  background-color: $color-grey;
  margin-bottom: $space-0;

  p {
    color: $color-dark-grey;
  }
}

.StaticPictureHorizontal {
  @extend .StaticPicture;
  @include picture-recipe-page;
}

.AddPicture {
  @extend .StaticPictureHorizontal;
  background-color: #faf9f9;
  margin: $space-0;
}
