@import "../../../assets/scss/variables";

.RecipeStep {
  padding-left: $space-4;

  h3 {
    margin: $space-1;
    font-weight: 600;
  }
  p {
    margin-bottom: $space-2;
    padding-left: $space-2;
    margin-left: $space-2;
    border-left: 1px solid $color-grey;
  }
}
