@import "../../../assets/scss/mixins";

.IngredientsBlock {
  @include flex-column;
  justify-self: center;
  align-self: center;
  margin: $space-2;

  h2 {
    margin-bottom: $space-2;
  }

  .ingridientPairContainer {
    @include flex-row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.ingridientInputsContainer {
  @include flex-row;
  margin-top: $space-0;

  .ingridientInputs {
    @include flex-row;
    justify-content: center;

    @include sm {
      @include flex-column;
    }
  }
}

.error {
  input {
    border: 1px solid $color-pink;
  }
}
