@import "../../../assets/scss/mixins";

.IngredientsBlock {
  @include flex-column;
  margin: $space-1;
  max-width: 40rem;

  h2 {
    margin-bottom: $space-2;
  }

  .ingridientPairContainer {
    @include flex-row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .ingridientInputsContainer {
    @include flex-row;

    .ingridientInputs {
      @include flex-row;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}

.error {
  input {
    border: 1px solid $color-pink;
  }
}
