@import "../../assets/scss/mixins";

.RecipeHeader {
  display: grid;
  grid-template-columns: 1fr 1fr;
  // margin: $space-0 $space-3;
  margin-bottom: $space-4;
  margin-top: $space-0;

  @include md {
    @include flex-column;
    margin: $space-3 0;
  }

  .nameAndPicture {
    justify-self: center;
    // margin-right: $space-4;
    // margin-bottom: $space-3;
    margin: $space-3;

    h1 {
      margin-bottom: $space-2;
    }

    img {
      @include picture-recipe-page;
      object-fit: cover;
    }

    .labels {
      @include flex-row;
      flex-wrap: wrap;
    }

    @include md {
      margin: $space-1;
      margin-bottom: $space-3;
    }
  }

  .ingridients {
    justify-self: center;
    align-self: center;
    @include flex-column;
    margin: $space-1;
    max-width: 40rem;

    h2 {
      margin-bottom: $space-2;
    }

    .ingridientPairs {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;

      @include lg {
        grid-template-columns: 1fr 1fr;
      }
    }

    @include md {
      margin-bottom: $space-3;
    }
  }
}
