@import "../../assets/scss/mixins";

.RecipeHeader {
  @include flex-row;
  justify-content: space-around;
  margin: $space-0 $space-4;
  margin-bottom: $space-4;
  max-width: 60rem;

  .nameAndPicture {
    margin-right: $space-4;

    h1 {
      margin-bottom: $space-2;
    }

    img {
      height: 17rem;
      width: 22rem;
      object-fit: cover;
    }

    .labels {
      @include flex-row;
      flex-wrap: wrap;
    }
  }

  .ingridients {
    @include flex-column;
    margin: $space-1;

    h2 {
      margin-bottom: $space-0;
    }

    .ingridientPairs {
      @include flex-row;
      flex-wrap: wrap;
    }
  }
}
