@import "../../assets/scss/mixins";

.FormHeader {
  @include flex-row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: $space-0 $space-4;
  margin-bottom: $space-4;

  .nameAndPicture {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-right: $space-4;
    margin-bottom: $space-3;

    // img {
    //   height: 17rem;
    //   width: 22rem;
    //   object-fit: cover;
    // }
  }
}
.RecipeInfo {
  margin: $space-4;

  h2 {
    margin-bottom: $space-2;
  }
}
