@import "../../assets/scss/mixins";

.RecipePage {
  .RecipeHeader {
    @include flex-row;
    justify-content: space-around;
    margin: $space-4;
    max-width: 60rem;

    img {
      height: 10rem;
      margin: $space-1 0;
    }
  }

  .preparation {
    margin: $space-4;
  }
}
