@import "../../assets/scss/mixins";

.RecipePage {
  .RecipeHeader {
    @include flex-row;
    justify-content: space-around;
    margin: $space-4;
    max-width: 60rem;

    img {
      height: 14rem;
      width: 14rem;
      object-fit: cover;
    }
  }

  .preparation {
    margin: $space-4;
  }
}
