@import "../../../assets/scss/mixins";

.RecipeInfo {
  padding: $space-0;

  .preparation {
    padding-left: $space-4;

    .RecipeStep {
      @include flex-row;

      button {
        align-self: flex-start;
      }
    }

    .stepInputsContainer {
      @include flex-row;

      button {
        align-self: flex-end;
      }
      .stepInputs {
        @include flex-row;
      }
    }
  }
}
