@import "./variables";
@import "./breakpoints";

@mixin flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin flex-row {
  display: flex;
  align-items: center;
}

@mixin picture-home-page {
  height: 15rem;
  width: 18rem;
  cursor: pointer;

  @include md {
    height: 20rem;
    width: 30rem;
  }

  @include sm {
    height: 18rem;
    width: 22rem;
  }

  @include xs {
    height: 10rem;
    width: 15rem;
  }
}

@mixin picture-recipe-page {
  height: 17rem;
  width: 25rem;
  cursor: default;

  @include lg {
    height: 15rem;
    width: 22rem;
  }

  @include xs {
    height: 10rem;
    width: 15rem;
  }
}
